#popup-container {
  position: fixed;
  top: 0;
  right: -400px; /* Initially hidden on the right side */
  width: 300px;
  height: 80%;
  background: white;
  border: 1px solid black;
  padding: 10px;
  z-index: 10;
  transition: right 0.3s ease-in-out; /* Smooth slide-in/out effect */
}

/* #popup-content {
  text-align: center;
} */
#popup-content {
  text-align: center;
  margin-top: 100px; /* Add some top margin to push the text to the top */
  font-size: 1px; /* Adjust the font size to make it smaller */
}

#popup-button {
  margin: 20px;
}
