/* #popup-container {
  position: fixed;
  top: 0;
  right: -400px;
  width: 300px;
  height: 100%;
  background: white;
  border: 1px solid black;
  padding: 10px;
  z-index: 10;
  transition: right 0.3s ease-in-out;
} */
#popup-container {
  position: fixed;
  top: 150px; /* Add padding from the top */
  right: -400px; /* Add padding from the right */
  bottom: 150px; /* Add padding from the bottom */
  width: 300px;
  background: white;
  border: 2px solid black;
  padding: 10px; /* Add padding to the left */
  z-index: 10;
  transition: right 0.3s ease-in-out;
}
#popup-content {
  text-align: center;
}

#popup-header {
  background-color: #f0f0f0;
  padding: 10px;
}

#popup-header h1 {
  font-size: 10px; /* Adjust the font size to your desired value */
  text-decoration: underline; /* Add underline to "Collaboration Tools" */
}

#user-list {
  list-style: none;
  padding: 0;
}

.user-details {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.user-details img {
  width: 15px; /* Adjust the size of the profile picture */
  height: 15px;
  border-radius: 50%; /* Make the image circular for a profile picture effect */
  margin-right: 10px;
}

#search-bar {
  padding: 10px;
}

#search-bar input {
  width: 100%;
}
